<?xml version="1.0"?>
<launch>
  <param name="use_sim_time" value="false"></param>
  <include file="$(find ball_picker)/launch/kinect_repeater.launch"/>
  <include file="$(find ball_picker)/launch/controller.launch"/>
  <include file="$(find ball_picker)/launch/manipulator.launch"/>
  <include file="$(find ball_picker)/launch/detector.launch"/>
  <include file="$(find ball_picker)/launch/positioner.launch"/>
  <include file="$(find ball_picker)/launch/mover.launch"/>
  <include file="$(find ball_picker)/launch/twister.launch"/>
</launch>
